@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

body {
  font-size: 16px;
  color: #fff;
  background-color: #e6b17e;
  font-family: "Oxygen", sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: wheat;
  border-radius: 0;
  border: 0;
  margin: 10px 50px 50px;
  border-radius: 10px;
}

#logo-img {
  background: url("../images/cafe-logo.png") center/cover no-repeat;
  width: 300px;
  height: 100px;
  margin-top: -10px;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #551e19;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: "Short Stack", cursive;
}

#nav-list a:hover,
#nav-list a:active {
  background: #e6b17e;
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #e6b17e;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -22.5px;
}

.fas {
  margin-bottom: 10px;
  font-size: 1.75em;
}

/* END HEADER */

/* FOOTER */

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  font-family: "Short Stack", cursive;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#timings {
  line-height: 2;
  font-size: 1.1em;
}

#timings>span {
  font-size: 1.75em;
}

#timings p {
  color: #557c3e;
  font-size: 0.8em;
  line-height: 1.5;
}

#testimonials {
  font-style: italic;
}

#testimonials p:nth-child(2) {
  margin-top: 25px;
}

/* END FOOTER */

/* HOME PAGE */

.container .jumbotron {
  box-shadow: 0 0 50px #551e19;
  background: url("../images/cafe-bg.jpg") no-repeat;
  background-position: center;
  border-radius: 10px;
}

#jumbotron-title {
  width: 100%;
  height: 100%;
  font-family: "Alkatra", cursive;
  border-radius: 10px;
  text-align: center;
  font-weight: bolder;
  color: #e6b17e;
  letter-spacing: 0.1em;
  opacity: 0.9;
  margin-top: 150px;
}

#beverages-tile,
#snacks-tile,
#desserts-tile {
  height: 240px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#beverages-tile:hover,
#snacks-tile:hover,
#desserts-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#beverages-tile {
  background: url("../images/beverages.jpg") no-repeat;
  background-position: center;
}

#snacks-tile {
  background: url("../images/snacks.jpg") no-repeat;
  background-position: center;
}

#desserts-tile {
  background: url("../images/desserts.jpg") no-repeat;
  background-position: center;
}

#beverages-tile span,
#snacks-tile span,
#desserts-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-family: "Alkatra", cursive;
  font-size: 1.6em;
  background-color: #551e19;
  color: #e6b17e;
  opacity: 0.9;
}

.blend {
  mix-blend-mode: darken;
}

.loading-img {
  width: 500px;
}

/* END HOME PAGE */

/* MENU CATEGORIES PAGE */

.cards-container {
  width: 100%;
}

#menu-categories-title {
  margin-bottom: 50px;
  font-size: 4vw;
  color: #551e19;
  font-family: "Alkatra", cursive;
}

#cards {
  padding: 0 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.menu-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 300px;
  font-family: "Short Stack", cursive;
  background-color: #551e19;
  border-radius: 10px;
}

.menu-item-photo {
  width: fit-content;
  position: relative;
  border: 2px solid #e6b17e;
  overflow: hidden;
  border-radius: 5px;
  margin: 10px;
}

.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
  border-top-left-radius: 5px;
}

.menu-card .menu-item-description {
  width: 100%;
  font-size: 1.25em;
  padding: 10px;
  border: 1px solid #e6b17e;
  border-radius: 5px;
  margin: 10px;
  color: wheat;
}

.menu-card .menu-item-description .menu-item-price {
  width: fit-content;
  background-color: #557c3e;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu-card .menu-item-description .menu-item-price span {
  font-size: 0.75em;
}





/* END  MENU CATEGORIES PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    height: 675px;
  }

  #jumbotron-title {
    font-size: 7em;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .container .jumbotron {
    height: 558px;
  }

  #jumbotron-title {
    font-size: 5em;
    margin-top: 100px;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    height: 432px;
  }

  #jumbotron-title {
    font-size: 4em;
    margin-top: 100px;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {

  /* Header */
  #header-nav {
    margin: 5px 5px 50px;
  }

  .navbar-header {
    height: 90px;
  }

  #logo-img {
    width: 250px;
    height: 75px;
    margin: -5px 0px 0px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  .fas {
    margin-bottom: 0px;
    font-size: 1em;
  }

  /* End Header */
  .container .jumbotron {
    height: 300px;
  }

  #jumbotron-title {
    margin-top: 50px;
    font-size: 3em;
  }

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }

  .panel-footer section:nth-child(3) {
    margin-bottom: 0;
    /* margin already exists on the whole row */
  }

  .hr-line {
    width: 100%;
  }

  /* End Footer */
  .loading-img {
    width: 100%;
  }

  /* Home Page */

  #beverages-tile,
  #snacks-tile,
  #desserts-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  #menu-categories-title {
    font-size: 10vw;
  }

  .menu-item-description {
    text-align: center;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */

  /* End Header */

  /* Home page */
  #beverages-tile,
  #snacks-tile,
  #desserts-tile {
    width: 350px;
    margin: 0 auto 15px;
  }
}