.navbar {
    padding: 12px;
    position: sticky;
    opacity: 95%;
    box-shadow: black;
    display: flex;
    justify-content: space-between;
    color: blueviolet;
 top-0 bg-violet-800 shadow-md shadow-black text-fuchsia-100 flex justify-between 
}