@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");

:root {
  --transition-time: 0.2s cubic-bezier(0, 0.01, 1, 1);
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.main-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to right top,
      #845ec2,
      #7464c8,
      #6169cd,
      #4b6ed0,
      #2c73d2
    )
    no-repeat center center fixed;
  background-size: 100% 100%;
}

.android-frame {
  display: flex;
  flex-direction: column;
  width: 20.3rem;
  height: 38rem;
  border: 0.425rem solid black;
  border-radius: 1.875rem;
  background: #151715;
}

.mini-algo-function {
  display: flex;
  justify-content: space-evenly;
  font-size: auto;
  width: 19.5rem;
  height: 4rem;
  color: #dfcee5;
  background: #151715;
  margin: 1rem 0 0.5rem;
}

.mini-function {
  border: #000;
  width: 4rem;
  color: #dfcee5;
  background-color: #4f4256;
  border-radius: 31.25rem;
  transition: var(--transition-time);
  font-size: 1.2rem;
  font-weight: 600;
  height: 2rem;
}

.mini-function:active {
  border-radius: 10%;
  transition: 0.08s cubic-bezier(0, 0.01, 1, 1);
}

.output-operation-class {
  width: 19.5rem;
  border-radius: 1.4rem 1.4rem 1.2rem 1.2rem;
  background: #37303c;
  height: 18.4rem;
  display: grid;
  align-content: flex-end;
}

.output-screen {
  width: 19rem;
  height: 4rem;
  text-align: right;
  border: #000;
  font-size: 3rem;
  align-self: flex-end;
  padding: 0;
  justify-self: center;
  background: #37303c;
  margin-right: 0.5rem;
  margin-bottom: 0.8rem;
  color: #eddbf3;
}

.error-window {
  max-width: 19rem;
  width: 19rem;
  height: 3rem;
  text-align: right;
  border: #000;
  font-size: 1.9rem;
  justify-self: flex-end;
  align-self: flex-end;
  background: #37303c;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  color: #eddbf3;
  border-radius: 0.5em;
}

.output-screen:focus {
  outline: none;
}

.input-class {
  display: grid;
  width: 19rem;
  height: 42rem;
  border-radius: 0 0 1.49rem 1.49rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  align-self: center;
  justify-items: center;
  color: #eddbf3;
  padding-bottom: 0.5em;
}

.number-btn,
.C-btn,
.AC-btn,
.function-btn,
.equal-btn {
  width: 4.3rem;
  height: 4.1rem;
  border-radius: 60%;
  color: #eddbf3;
  background: #262229;
  border: #000;
  text-align: center;
  font-size: 1.7rem;
}

.number-btn:active,
.C-btn:active {
  transition: var(--transition-time);
  border-radius: 20%;
  background-color: #262229;
}

.AC-btn {
  color: #fcd7da;
  background: #6e353b;
}

.AC-btn:active {
  border-radius: 20%;
  transition: var(--transition-time);
}

.function-btn {
  color: #efddf5;
  background: #4f4256;
}

.function-btn:active {
  border-radius: 20%;
  transition: var(--transition-time);
}

.equal-btn {
  color: #f4d9ff;
  background: #5b3774;
}

.equal-btn:active {
  border-radius: 20%;
  transition: var(--transition-time);
}

.footer {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #dfcee5;
  background-color: #151715;
  border-radius: 2em;
  width: 15em;
  padding: 1em;
}

.footer a {
  text-decoration: none;
  color: #dfcee5;
}

.footer i {
  color: #dfcee5;
}

@media screen and (max-width: 380px) {
  :root {
    font-size: 16px;
  }
}
