footer{padding: 12px 0;margin-bottom: 20px;}
.footer-nav-link{font-size: 15px;font-weight: 400;line-height: 1.5;font-family: var(--font-jost);text-transform: uppercase;color: #374151;}
.copyright{font-size: 15px;font-weight: 400;line-height: 1.5;font-family: var(--font-inter);color: #666;}