.follow-box{width: 100%;max-width: 335px;;background: var(--white);border-radius: 6px;box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);}
.follow-box-head{padding: 16px 24px;background: #f9fafb;}
.follow-box-head h4{font-size: 18px;margin-bottom: 0;}
.follow-box-body{padding: 0 16px;}