aside{width: 300px;}
.nav-head{height: 66px;padding: 0 15px;border-bottom: 1px solid #e5e7eb;}
.btn-night-mode{width: 35px;height: 35px;position: relative;background-color: #f0f2f5;border-radius: 100%;margin-left: auto;}

.nav-body{padding: 5px 0;border-right: 1px solid #e5e7eb;height: calc(100vh - 66px);overflow-y: auto;}
.nav-body-top{padding: 24px 12px;border-bottom: 1px solid #e5e7eb;}
.nbt-profile-img-box{background: linear-gradient(to top right, #d97706, #db2777);width: 96px;height: 96px;}
.nbt-profile-img{border: 4px solid #fff;width: 88px;}
.profile-name{font-family: var(--font-jost);font-size: 20px;font-weight: 500;line-height: 1.4;color: #666;}

.nav-body-bottom{padding: 0 12px;}
.profile-details li{width: 33.33%;}
.profile-details{font-family: var(--font-jost);font-size: 15px;font-weight: 400;line-height: 1.2;text-align: center;color: #1f2937;}
.profile-details h6{font-size: 15px;font-weight: 700;margin-bottom: 0;}

.nav-list{margin-top: 20px;}
.nav-hr{background: #e5e7eb;width: 100%;height: 1px;}
.nav-item{padding: 8px 15px;margin-bottom: 5px;position: relative;}
.nav-link{font-family: var(--font-jost);font-size: 15px;font-weight: 400;color: #707070;line-height: 1;}
.nav-link:hover,.nav-item.active .nav-link{color: #be185d;}
.nav-icon{width: 23px;height: 23px;}
.nav-icon svg{width: 100%;height: 100%;object-fit: contain;color: inherit;}

.nav-item span.nav-tag {display: inline-block;font-weight: 700;height: 19px;width: 19px;line-height: 19px;text-align: center;color: #fff;font-size: 11px;background-color: #be185d;border-radius: 50%;position: relative;margin: 0 0 0 4px;top: -2px;}