:root{
    --white:#fff;
    --black:#000;
    --pink: #344E41;
    --light-pink: #d2e4d6;
    --card-bg: #14253d;
    --line: #2f415b;
    --light-gray: #d6e2f0;
    --grayish-blue: #7b879d;
    --dark-blue: #1f3251;
    --blue: #343e51;}

/* =================reset css starts here=================  */
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,ul,li,body,html,form,fieldset{margin:0;padding:0;outline:none;border:0}
a{text-decoration:none;border:0;outline:0;}
ul{list-style:none;}
a:focus,input:focus,textarea:focus,*:focus{outline:0!important;}
/* =================reset css ends here================= */
/* =================core css starts here================= */
html,body,main{height: 100%;}
body>main{display: flex;flex-flow: column;}
body{font-family: var(--font-jost);font-size:16px;line-height:1.6;font-weight:300;;color: inherit;background: #f3f4f6;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.container{width:calc(100% - 24px);max-width:1176px;}
a,input,button{display:inline-block;text-decoration:none;color:inherit;outline:none;transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;}
a img{border:0px none;}
a:hover{outline:none;color:var(--green);text-decoration:none;}
a:active{outline:none;text-decoration:none;}
a:focus{outline:none;outline-offset:0px;text-decoration:none;color:inherit;}
::-webkit-input-placeholder{color:var(--blue);opacity:0.5;}
::-moz-placeholder{color:var(--blue);opacity:0.5;}
:-moz-placeholder{color:var(--blue);opacity:0.5;}
:-ms-input-placeholder{color:var(--blue);opacity:0.5;}
.os-animation{opacity:0;}
.os-animation.animated{opacity:1;}
img{max-width:100%;border:0;height:auto;}
h1,h2,h3,h4,h5,h6{margin:0px;padding:0px;margin-bottom:20px;font-family: var(--font-jost);line-height:1.3;font-weight:600;color:inherit;}
h1{font-size:58px;}
h2{font-size:48px;}
h3{font-size:40px;}
h4{font-size:30px;}
h5{font-size:26px;}
h6{font-size:22px;}
p{margin:0px;padding:0px;margin-bottom:20px;}
strong{font-weight:700;}
b{font-weight:400;}
p:last-child{margin-bottom:0;}

.btn {min-width: 90px;width: fit-content;border-radius: 80px;padding: 14px 20px;font-family: var(--font-jost);font-size: 14px;font-weight: 600;line-height: 1;box-shadow: none;position: relative;}
.btn-default,.btn-default:focus { color: var(--white);background-color: var(--pink);border: solid 1px var(--pink); }
.btn-default:hover,.btn-default:active { color: var(--white)!important;background-color: var(--line)!important;border-color: var(--line)!important;}
.btn-light,.btn-light:focus { color: var(--pink);background-color: var(--light-pink);border: solid 1px var(--light-pink); }
.btn-light:hover,.btn-light:active { color: var(--white)!important;background-color: var(--line)!important;border-color: var(--line)!important;}
.btn-icon{color: inherit;}
.btn-link{color: #6fbb58;text-decoration: n;}

.btn.btn-block{min-width: 100%;}
.bottom-btn-box{margin-top: 40px;}

.bg-violet{background:var(--blue);color: var(--white);}
.grey-bg{background: #f5f5f5;}
/* =================core css ends here================= */
.page-wrapper{height: 100dvh;}
.main-content{width: calc(100% - 300px);}
.main-wrapper{padding: 45px 0;overflow-y: auto;height: calc(100% - 66px);}
.main-head h2{font-size: 24px;font-weight: 800;}
.body-content{width: calc(100% - 383px);}
.body-sidebar{width: 335px;position: sticky; top: 100px;}

*::-webkit-scrollbar {width: 10px;}
*::-webkit-scrollbar-track {background-color: var(--white);border-radius: 100px;}
*::-webkit-scrollbar-thumb {background: linear-gradient(to top right, #6fbb58, #344E41);border-radius: 100px;border: 3px solid var(--white);}

body.dark-mode{background: #08090f;color: var(--white);}


@media (max-width: 767.98px) {
  .body-content{width: 100%;}
    .body-sidebar{width: 100%;}
}