header{background: var(--white);height: 66px;border: 1px solid #e5e7eb;}
.nav-brand{width: 110px;}
.notification-btn{width: 45px;height: 45px;}

.search-box-group{position: relative;max-width: 300px;width: 100%;}
.search-icon{width: 20px;position: absolute;left: 15px;top: 50%;transform: translateY(-50%);color: #808080;}
.search-box-group .form-control,.search-box-group .form-control:focus{padding:13px 20px;padding-left: 50px;border: 0;font-family: var(--font-jost);font-size: 15px;font-weight: 400;line-height: 1;color: #808080;box-shadow: none;}

.upload-head {padding: 12px 16px;border-bottom: 1px solid #e5e7eb;}
.upload-head h4 {font-family: var(--font-jost);font-size: 15px;font-weight: 400;margin-bottom: 0;}
.notification-btn{width: 25px;height: 25px;color: #464646;}

 .dropdown-menu{min-width: 330px;max-height: 50vh;}   
 .notification-btn+.dropdown-menu .notification-head{padding: 12px 24px;font-weight: 700;}
 .notification-btn+.dropdown-menu .notification-body{padding: 10px 20px;max-height: calc(50vh - 100px);overflow-y: auto;}
 .notification-btn+.dropdown-menu .notification-footer{padding: 12px 24px;}
 .notification-btn+.dropdown-menu .notification-box{gap: 10px;} 
 .notification-row+.notification-row{margin-top: 20px;}