header{background: var(--white);height: 66px;border: 1px solid #e5e7eb;}
.nav-brand{width: 128px;}
.notification-btn{width: 45px;height: 45px;}
<<<<<<< Updated upstream
.search-box-group{position: relative;}
.search-icon{width: 20px;position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
.search-box-group .form-control,.search-box-group .form-control:focus{padding:10px 20px;padding-left: 30px;border: 0;font-family: var(--font-jost);font-size: 15px;font-weight: 400;line-height: 1;color: #808080;box-shadow: none;}
=======
.search-box-group{position: relative;max-width: 300px;width: 100%;}
.search-icon{width: 20px;position: absolute;left: 0;top: 50%;transform: translateY(-50%);color: #808080;}
.search-box-group .form-control,.search-box-group .form-control:focus{padding-left: 30px;border: 0;font-family: var(--font-jost);font-size: 15px;font-weight: 400;line-height: 1;color: #808080;box-shadow: none;}
>>>>>>> Stashed changes
