.heading h3{color:#121212;font-size:4rem;text-align:center;margin-bottom:50px;font-family: var(--font-jost);}
.plan-list{width:100%;font-family: var(--font-jost);}
.plan{background:#d5ffdc;text-align:center;padding:1rem;margin:.5rem 0;border-radius:10px}
.plan{width:33.33%;height: 100%;padding: 40px;background: #e5e7eb;}
.plan:not(.plan-highlighted){border: 4px solid var(--dark-grey);}
.plan-highlighted{background: var(--pink);color:#fff;box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);z-index:50;height: calc(100% + 30px);width: calc(33.33% + 30px);margin: 0 -15px;}
.plan-annotation{background:#fff;color: var(--pink);padding:.5rem;box-shadow:2px 2px 2px 2px rgba(0,0,0,0.5);border-radius:8px}
.plan-title{color:#121212}
.plan-price{color:#858585}
.plan-highlighted .plan-title{color:#fff}
.plan-highlighted .plan-price{color: var(--light-pink)}
.plan-features{list-style:none;margin:0;padding:0}
.plan-feature{margin:.5rem 0}

  
@media  (max-width: 767.98px) {
  .plan {gap: 10px;padding: 20px;height: auto;}
  .plan{width:100%;}
}
  
